h1.header{
  color:white;
}

h1{
  text-align: center;
  font-weight: bolder;
}

body{
  background-color: #f5f5ee;
}

ul{
  text-align: left;
}

table{
  margin-left: auto;
  margin-right: auto;
}

p{
  text-align: center;
}

#squirrel{
  font-style: italic;
}

div.header{
  background-color:#4c3737;
}
